/* TODO dev \|/ */

/* * {
	outline: red dashed 2px;
} */

/* TODO dev /|\ */

@font-face {
	font-family: 'Handlee';
	src: url('/static/fonts/Handlee-Regular.woff2') format('woff2');

	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair';
	src: url('/static/fonts/PlayfairDisplay-VariableFont_wght.woff2')
		format('woff2');
	font-weight: 100 - 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair-it';
	src: url('/static/fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2')
		format('woff2');
	font-weight: 100 - 900;
	font-style: italic;
}

html {
	box-sizing: border-box;
	font: 18px 'Playfair', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.handlee {
	font-family: 'Handlee', sans-serif;
}

.noise /* resulting css */
{

  filter: contrast(100%) brightness(250%);
  background: 
	url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.50' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
  