package component;

templ Cover() {
	<div class="container flex items-center justify-center min-h-screen mx-auto bg-green-400 items">
        


        <div class="relative noise w-96 h-96 after:z-30 after:absolute after:inset-2 after:bg-stone-950 after:mix-blend-multiply"  >
            
        </div>
    
    </div>
}


