package component

templ BaseNavigation() {
	<nav class="">
		<ul class="">
			<li class="">
				<a>
					@PaperButton("Home", "w-40 h-10")
				</a>
			</li>
			<li class=""><a>Hives</a></li>
			<li><a>About</a></li>
		</ul>
	</nav>
}
