package component

templ PaperButton(label string, class string) {
	<button class={ class }>
		<div class="box shadow">
			<div class="middle-box">
				<div class="circle"></div>
				<p class="w-fit ">{ label }</p>
			</div>
		</div>
	</button>
}
