package home

    import (
        "github.com/Captain-Leftovers/beekeepers-log/view/layout"
    )

templ Index() {
    @layout.BaseLayout(true){

    <div class="text-4xl bg-red-300">
        <h1 class="text-fuchsia-700" >Home</h1>
        <p class="">Welcome to the home page!!!</p>         
    </div>
    }
    
}