package homeview 

import "github.com/Captain-Leftovers/gohtmxtemplbeelog/internal/view/layout"
import "github.com/Captain-Leftovers/gohtmxtemplbeelog/internal/view/component"

templ ShowHome() {
	@layout.Base() {
		@component.BaseNavigation()
		<div>
			<h1>Home!</h1>
			<p>Welcome to the home </p>
			<button hx-get="/greet" hx-swap="outerHTML">Greet the user</button>
		</div>
	}
}
