package homeview 

import "github.com/Captain-Leftovers/gohtmxtemplbeelog/internal/view/layout"
import "github.com/Captain-Leftovers/gohtmxtemplbeelog/internal/view/component"

templ ShowHome() {
	@layout.Base() {
		@component.Cover()
	}
}
